body {
    font-family: Arial, sans-serif;
    margin: 0;
}

.login-container {
    background-image: url('img/loginpage.jpg'); /* Add the path to your cover image here */
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    width: 350px;
    padding: 30px;
    text-align: center;
}

.login-form h1 {
    margin: 0;
    padding-bottom: 20px;
    color: #333;
    font-size: 24px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    text-align: left;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
.link-text {
    text-align: center;
    margin-top: 20px;
}

.link-text a {
    text-decoration: none;
    color: #007BFF;
    margin: 0 10px;
}

.link-text a:hover {
    text-decoration: underline;
}
